.bottom-right {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.new-job-dialog {
  min-width: 40%;
}

.card-body {
  padding: 10px 16px;
}

.error-output {
  font-family: monospace;
  white-space: pre-wrap;
  padding: 10px;
  font-size: 12px;
  color: red;
}

.animate-max-height {
  transition: max-height 1s;
}

.zero-max-height {
  max-height: 0;
}

.eight-max-height {
  max-height: 800px;
}
.small-letter{
  font-size: 70%;
}
.main-menu{
  border: grey 3px solid;
  margin-bottom: 15px;
}
.item-count-stats{  
  float: right; border-radius: 1px; text-align: right; height: 23px; line-height: 23px; padding: 0 7px; margin-top: 7px; color:white;
}

