<div class="route route-jobs-type">
  {{#jobs-filter type=type selectedState=state page=page sort=sort}}
    {{jobs-table jobs=model order=order orderAction="updateOrder"}}
  {{/jobs-filter}}
  <div class="panel-right">
    {{#if (eq selectedJobs.length 1)}}
      {{job-detail job=selectedJobs.firstObject action="goToJob" removeAction="removeJob"}}
    {{else}}
      {{jobs-actions selectedJobs=selectedJobs refresh=(action 'refresh')}}
    {{/if}}
  </div>
</div>
