<div>
  {{jobs-table jobs=model.completeJobs selectedJob=selectedJob order=order orderAction="updateOrder"}}

  <div>
    {{#if selectedJob}}
      {{job-detail job=selectedJob action="goToJob" removeAction="removeJob"}}
    {{else}}
    {{/if}}
  </div>

  {{outlet}}
</div>
